div.mycalc input[type="button"] {
    width:20px !important;
    padding: 20px 50px 20px 40px;
    margin: 5px}

#inputwindow{
    width:410px;
}

#equal{
    width: 193px !important;
    background-color: orange;
}

#clear {
    width: 195px;
    margin-left: 5px;
    background-color: red;
    padding: 15px;
}